.big-banner{
    background-image: url('../Images/header_default.jpg');
    background-size: 100%;
    height: 500px; padding-top: 150px;
}

.fresh-content{
    background: linear-gradient(-45deg,#ec5252,#6e1a52);
}

.new-container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }


  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-circle {
    border-radius: 50%;
    height: 250px;
}

.header-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../Images/body_background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}